PORT=8000
NODE_ENV=development

# Service URLs
AUTH_SERVICE_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3002
RECIPE_SERVICE_URL=http://localhost:3003
COOKBOOK_SERVICE_URL=http://localhost:3004
COMMUNITY_SERVICE_URL=http://localhost:3005
EVENT_SERVICE_URL=http://localhost:3006
CHAT_SERVICE_URL=http://localhost:3007
COMMUNICATION_SERVICE_URL=http://localhost:3009



# JWT
JWT_ACCESS_SECRET=your-access-secret-key-change-in-production

# CORS
CORS_ORIGIN=http://localhost:3000

# Logging
LOG_LEVEL=info
