# Api Gateway
PORT=8000
NODE_ENV=development

# Service Ports
AUTH_PORT=3001
USER_PORT=3002
RECIPE_PORT=3003
COOKBOOK_PORT=3004
COMMUNITY_PORT=3005
EVENT_PORT=3006
COMMUNICATION_PORT=3009


# Service URLs
AUTH_SERVICE_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3002
RECIPE_SERVICE_URL=http://localhost:3003
COOKBOOK_SERVICE_URL=http://localhost:3004
COMMUNITY_SERVICE_URL=http://localhost:3005
EVENT_SERVICE_URL=http://localhost:3006
COMMUNICATION_SERVICE_URL=http://localhost:3009


# DATABASE MongoDB
MONGODB_URI=mongodb://localhost:27017/FoodieBlog


# JWT Secrets
JWT_ACCESS_SECRET=your-access-secret-key-change-in-production
JWT_REFRESH_SECRET=your-refresh-secret-key-change-in-production
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Cookie settings
COOKIE_DOMAIN=localhost
COOKIE_SECURE=false

# FrontEnd URL
FRONTEND_URL=http://localhost:3000

# CORS
CORS_ORIGIN=http://localhost:3000

# Logging
LOG_LEVEL=info


