PORT=3009
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/FoodieBlog

# JWT Secrets (same as auth-service)
JWT_ACCESS_SECRET=your-access-secret-key-change-in-production

# Logging
LOG_LEVEL=info

# CORS
CORS_ORIGIN=http://localhost:3000

FRONTEND_URL=http://localhost:3000

# Ref Services
USER_SERVICE_URL=http://localhost:3002